<h1>register</h1>

<form action="/auth/register" method="POST">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="password" name="repeatPassword" />
    <input type="submit" value="register" />
</form>