<main>
    <img id="sadFaceImg"
        src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/64/000000/external-error-seo-and-media-flatart-icons-lineal-color-flatarticons-1.png"
        alt="sad face" />
    <h1>404</h1>
    <h2>Page not found</h2>
</main>